---
layout: page
title: AI4SH postgreSQL database
excerpt: "AI 4 Soil Health in-situ data database design"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

<p>This blog contains a draft outline of a PostgreSQL database (schemas and tables) for the <a href="https://ai4soilhealth.eu">AI for Soil Health (AI4SH)</a> work package (WP) on in-situ data. Each post, except the first, contains a different schema, with all the tables and columns defined using <a href="https://dbml.dbdiagram.io/home">Database Markup Language (DBML)</a>. The first post is an overview of all the schemas.</p>

<p>All posts (schemas) were updated on 3 September 2024.</p>

<ul class="post-list">
{% for post in site.categories.ai4sh-db reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
